body {
	font-family: sans-serif;
	margin:0px;
}

header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:black;
	padding:0.5rem;
	color:white;
}

header * {
	margin:auto 0px 0px 0px;
}

header h1 {
	text-align:center;
	font-size:1.5rem;
}

header a:visited, header a:active {
	color:white;
}

#messages {
	width:90vw;
	margin:1rem auto 1rem auto;
	border:2px solid red;
	border-radius:1rem;
	padding:0em 1rem;
	box-sizing:border-box;
	background-color:#eee;
}

main, div.boxcontainer {
	display:flex;
	flex-direction:column;
}

.formbox {
	width:16rem;
	margin:1rem 1rem 0px 1rem;
	border:2px solid #dcdcfc;
	border-radius:1rem;
	padding:0em 1rem;
	box-sizing:border-box;
}

#loginbox {
	background-color:#dcfcbd;
}

#pwresbox {
	background-color:#fcfcbd;
}

#registerbox {
	background-color:#fcdcbd;
}

.formbox h2 {
	text-align:center;
}

.formbox input[type=text], .formbox input[type=password], .formbox select {
	display:inline-block;
	width:calc(100% - 2px);
	font-size:120%;
	border:1px solid #777;
	margin:1px;
	padding:5px 5px;
	box-sizing:border-box;
}

.formbox label, .boxlabel, .formbox select, .formbox input[readonly] {
	color:#777;
	font-size:75%;
}

.formbox .formbuttons {
	text-align:right;
}

#weekly {
	margin-top:2rem;
	width:95vw;
	border-collapse:collapse;
	box-sizing:border-box;
}

#weekly tr {
	box-sizing:border-box;
	width:95vw;
	border-bottom:1px solid #777;
}

#weekly tr:nth-child(2n+1):not(:first-child) {
	background-color:#ddd;
}

#weekly tr:hover td:first-child {
	background-color:#dcfcbd;
}

#weekly td {
	box-sizing:border-box;
	width:calc(11.875vw + (11.875vw - 2.5rem) / 7);
	height:calc((95vh - 6rem)/(16));
	max-height:calc((95vh - 6rem)/(16*4));
	padding:0.2em 0.5em;
	border-right:1px double #777;
	text-align:center;
}

#weekly td.hour {
	text-align:right;
	width:2.5rem;
	border-bottom:1px solid #777;
}

#weekly th {
	border-bottom:1px solid #777;
}

#weekly td.hour {
}

@media all and (min-width: 36rem) {
	main, div.boxcontainer {
		flex-direction: row;
		justify-content:center;
		margin:0px auto;
	}
}

/* Dialoge */

dialog.modal {
	position: fixed;
	top:15vh;
	left:0;
	width:70vw;
	height:70vh;
	overflow: auto;
	background-color:rgba(75,75,75);
	padding:0 2em;
}

dialog fieldset {
	margin-top:2em;
}

option[disabled] {
	background-color:#fcdcbd;
}
